<h1>User <%= params[:id] %> URLs</h1>

  <table>
  <tr>
    <td>Url</td>
    <td>Views</td>
  <tr>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.url %></td>
      <td><%= url.url_views %></td>
    </tr>
  <% end %>
  </table>
